@keyframes track-card-appearing {
  0%{ opacity: 0; transform: translate(0px, 300px);}
  99%{ opacity: 1; transform: translate(0px, 0px);}
  100%{ opacity: 1; transform: translate(0px, 0px);}

}

@-webkit-keyframes track-card-appearing {
  0%{ opacity: 0; transform: translate(0px, 300px);}
  99%{ opacity: 1; transform: translate(0px, 0px);}
  100%{ opacity: 1; transform: translate(0px, 0px);}
}



/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}










body{
  background-color: #2c2c2c;
}

.navbar{
  height: 50px;
  background-color: rgb(105, 182, 131);
  background-color: rgb(62, 211, 156);
  display: flex;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-start{
  justify-content: flex-start;
}

.center{
  justify-self: center;
  align-self: center;
}

.space-around{
  justify-content: space-around;
}

.nav-button{
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-family: 'Jost', sans-serif;
}

.nav-button:hover{
  color: white;
}

.music{
  background-color: #2c2c2c;
}


.login-button{
  background-color: rgb(153, 214, 192);
  background-color: rgb(62, 211, 156);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  cursor: pointer;
}

.jost{
  font-family: 'Jost', sans-serif;
}

.search{
  padding: 20px;
}

.search-input{
  background-color: #2c2c2c;
  border: None;
  border-bottom: 2px solid white;
  font-size: 25px;
  outline: None;
  width: 500px;
  color: white
}

.search-form{
  display: flex;
  align-items: center;
  font-size: 32px;
}


.search-btn{
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px 5px 2px 5px;
  border: none
}

.search-btn:disabled{
  background: grey;
  color: black;
}

.trackcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  -webkit-animation-name: track-card-appearing;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: track-card-appearing;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;  
  opacity: 0;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Jost', sans-serif;
  color: white;
  cursor: pointer;
}

.trackgrid{
  /* align-content: flex-start; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about{
  color: white;
  font-family: 'Jost', sans-serif;
}

.musicPlayerBackground {
  background: rgb(139,240,200);
  background: linear-gradient(86deg, rgba(139,240,200,1) 5%, rgba(139,240,224,1) 11%, rgba(112,194,213,1) 18%, rgba(112,195,213,1) 27%, rgba(198,189,221,1) 38%, rgba(164,148,191,1) 48%, rgba(191,154,158,1) 65%, rgba(148,187,191,1) 80%, rgba(68,172,108,1) 100%);  /* background-image: linear-gradient( 293.5deg,  rgba(181,149,208,1) 3.2%, rgba(251,148,207,1) 9.9%, rgba(181,149,208,1) 22.9%, rgba(251,148,207,1) 36.4%, rgba(181,149,208,1) 50.1%, rgba(251,148,207,1) 61.1%, rgba(181,149,208,1) 71.2%, rgba(251,148,207,1) 84.2%, rgba(181,149,208,1) 92.2% ); */
	background-size: 300% 300%;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
	animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
	/* 0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 55%;
	}
	100% {
		background-position: 0% 55%;
	} */

  0% {
		background-position: 0% 25%;
	}
  25%{
    background-position: 50% 80%;
  }
	50% {
		background-position: 100% 55%;
	}
  75%{
    background-position: 50% 10%;
  }
	100% {
		background-position: 0% 55%;
	}
}
